<main class="container">
    <div class="row form">
        <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1 class="h3 mb-3 font-weight-normal">Edit existing articles</h1>
                <%= render 'form' %>
        </div>
    </div>  
</main>  