<div class="container-fluid create__form">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 article--create__form">
            <h1>Create an article</h1>
            <%= render 'form' %>
        </div>
    </div>
</div>