// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "partials/reset.scss";
.show {
    margin-top: 56px;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .card-row {
      .card-wrapper {
        margin-bottom: 1.5rem;
        .card{
          
          .card-img-top {
            margin-top: 1em;
          }
          .card-body {
            .categories {
              bottom: 0;
            }
          }
        }
      }
    }
}
.form {
  margin-top: 56px;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .form-signin,.form-signup,.form-edit {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      &:focus {
        z-index: 2;
      }
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    
  }

}
.alert {
  margin-top: 60px;
}
.navbar-nav {
  .nav-item {
    padding-left: 16px;
  }
}
.footer {
  text-align: center;
  color: white;
  padding: 1em 0;
}
.jumbotron {
  height: 90vh;
  text-align: center;
  margin-bottom: 0 !important;
  .display-4 {
    padding-top: 2em;
  }
}